.main {
	border: 1px solid red;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
}
.main__sidebar {
	border: 1px solid green;
}

.main__sidebar__top {
	border: 1px solid greenyellow;
}

.main__sidebar__channels {
	border: 1px solid navy;
}

.main__sidebar__rooms {
	border: 1px solid orange;
}

.main__container {
	border: 1px solid blue;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.main__container__messages {
	border: 1px solid red;
	flex-grow: 1;
}

.main__container__input {
	border: 1px solid purple;
}

.main__container__input__form {
	display: flex;
}

.main__container__input__form__input {
	flex-grow: 1;
}
